<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> <!-- Assim conseguimos dizer onde esta nosso codigo css usando flask   -->
</head>
<body>
    <div class="container">
    <!--Este codigo de baixo serve para mostrar uma mensagem que denifimos la no arquivo inicial -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-sucess">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

      <div class="page-header">
          <h1>{{ titulo }}</h1>
      </div>
        <!-- Todo esse codigo de cima sera copiado como um bloco assim podemos inserir em paginas html que teram os mesmos templates  -->
        <!-- Mas apenas os codigos daqui pra cima -->
        {% block conteudo %}{% endblock %}
        <!-- E essa frase que esta escrito apos o block seria meio que um ID para identificar as tags acima  -->

    </div>
</body>
</html>